html {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-primary {
  color: #8d281e !important;
}

p {
  line-height: 1.75;
  font-family: "Titillium Web", sans-serif;
}

a {
  color: #8d281e;
}
a:hover, a:focus, a:active, a.active {
  color: #631c15;
}

h1 {
  color: #dd4021;
  font-family: "Bebas Neue", cursive, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  header nav .container-fluid {
    font-family: "Titillium Web", sans-serif;
  }

  header .row {
    background-image: url("../images/profile.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  .name-background {
    background-color: #f0f0ef;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    height: 40%;
    z-index: 0;
    border: 1px solid #fcddec;
    box-shadow: -3px 9px 61px 27px rgba(150, 150, 150, 0.2);
    border-radius: 20px;
    display: grid;
    place-content: center;
    text-align: left !important;
  }
  .name-background p {
    font-size: 1rem;
    padding-right: 10%;
    color: #0b1f52;
  }
}
@media (min-width: 768px) {
  header nav {
    background-color: #f7f8f3 !important;
  }
  header nav .container-fluid {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.25rem;
  }
  header nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }

  header {
    background-image: url("../images/profile.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  .name-background {
    background-color: #f0f0ef;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 35%;
    height: 30%;
    z-index: 0;
    border: 1px solid #fcddec;
    box-shadow: -3px 9px 61px 27px rgba(150, 150, 150, 0.2);
    border-radius: 20px;
    display: grid;
    place-content: center;
    text-align: left !important;
  }
  .name-background p {
    font-size: 1.5rem;
    padding-right: 10%;
    color: #0b1f52;
    font-family: "Titillium Web", sans-serif;
  }
}
#skills {
  padding: 10% 0;
}
#skills h2 {
  font-size: 3rem;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0% 0 5%;
}
#skills .skill_logo {
  width: 10%;
}
#skills .grid-box {
  padding: 0 10%;
  display: grid;
  place-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(40px, 2fr));
}
#skills .card {
  border-style: none;
}
#skills .skill_type {
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  #skills {
    padding: 10% 0;
  }
  #skills h2 {
    font-size: 4rem;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0% 0 5%;
  }
  #skills .skill_logo {
    width: 3%;
  }
  #skills .grid-box {
    padding: 0 10%;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  #skills .card {
    border-style: none;
  }
  #skills .skill_type {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 768px) {
  #qualifications {
    padding: 5% 0;
    background-color: #0b1f51;
  }
  #qualifications .qualification_box {
    background-color: #f0f0ef;
    border-radius: 20px;
    margin: 0 10%;
    padding: 5% 0%;
    text-align: center;
  }
  #qualifications .qualifications_image {
    padding: 5% 0%;
  }
  #qualifications h2 {
    font-size: 3rem;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #qualifications .edu_details {
    font-size: 2rem;
    padding: 10% 0;
  }
  #qualifications .edu_details table {
    border-collapse: collapse;
    width: 90%;
  }
  #qualifications .edu_details table th {
    text-align: left;
    padding: 10px;
    border: 1px solid #dddddd;
  }
  #qualifications .edu_details table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #dddddd;
  }
  #qualifications .edu_details th {
    color: #dd4021;
  }
}
#project {
  text-align: center;
  padding: 10% 0;
}
#project .skill_logo {
  width: 3%;
}
#project h2 {
  font-size: 3.5rem;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0% 0 5%;
}
#project .container-fluid {
  width: 60%;
}
#project .project_image {
  width: 200px;
  height: 200px;
  padding: 0% 0 5%;
}
#project .project_title {
  font-size: 2rem;
  padding: 0% 0 5%;
}
#project .project_description {
  font-size: 1.25rem;
  padding: 0% 0 2.5%;
}
#project .twitter_project {
  text-align: right;
  padding-left: 10%;
  padding-right: 2%;
}
#project .bitcoin_project {
  text-align: left;
  padding-right: 10%;
  padding-left: 2%;
}

#contact {
  background-color: #dd4021;
  padding: 10% 0;
  height: 100vh;
}
#contact .container-fluid {
  width: 100%;
}
#contact .container-fluid h2 {
  font-size: 8rem;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 30% 0;
  color: #f0f0ef;
}
#contact .container-fluid .bg-white {
  background-color: #f0f0ef;
  border-radius: 20px;
  text-align: center;
}
#contact .container-fluid .bg-white .contact-info {
  padding: 10% 2.5%;
  width: 25%;
  fill: #0b1f52;
}/*# sourceMappingURL=style.css.map */